@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "San Fransisco Display Light";
  src: url("/sm807/coursework/SanFranciscoFont-master/SanFranciscoDisplay-Light.otf"); 
}

html * {
	font-family: "San Fransisco Display Light", sans-serif;
}

body {
	margin: 0;
}

h1 {
	width: 100%;
	font-size: 3em;
	text-align: center;
}

form {
	margin: auto;
	width: 60vw;
	height: 80vh;
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: space-around;
}

input, button, .button, #bounce {
	width: 100%;
	border: none;
	outline: none;
	display: block;
	font-size: 3em;
    border-radius: 0px;
	background: #FFFFFF;
	border-bottom: 2px solid rgba(0, 128, 0, 1);
	box-shadow:  0 0px 10px 1px rgba(0, 0, 0, 0.8);
    
    -webkit-appearance: none;
}

.button {
    color: #000000;
    text-decoration: none;
}

@-moz-document url-prefix() { /*Percentage padding for inputs and buttons doesn't work in moz*/
	input, button {
		padding: 14px 20px;
	}
}

@supports (-ms-ime-align:auto) { /*Same for edge*/
    input, button {
		padding: 14px 20px;
	}
}

form div {
	width: 60vw;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

#submitbutton, #signup, #bounce {
	flex: 0 0 40%;
	font-size: 3em;
	cursor: pointer;
	text-align: center;
	border: 1px solid black;
	box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.8);
	
	transition: .3s;
}

#bounce {
    display: none;
    justify-content: space-around;
}

#bounce.bouncing #bouncy1 {
    animation: bouncing 1s infinite 0s ease-in-out;
}

#bounce.bouncing #bouncy2 {
    animation: bouncing 1s infinite 0.1s ease-in-out;
}

#bounce.bouncing #bouncy3 {
    animation: bouncing 1s infinite 0.2s ease-in-out;
}

#bounce div {
    flex: 1;
    display: flex;
    justify-content: center;
}

#submitbutton:hover, #signup:hover {
	box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.3);
}

#signup {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

#signup a {
	color: #000000;
	text-decoration: none;
}

#tryagain {
	display: none;
}

@keyframes bouncing {
    0% {transform: translateY(0%)}
    15% {transform: translateY(-100%)}
    30% {transform: translateY(0%)}
    45% {transform: translateY(-70%)}
    55% {transform: translateY(0%)}
    60% {transform: translateY(-50%)}
    70% {transform: translateY(0%)}
}

@media (max-width: 1020px) {
	body {
		height: 100vh;
	}
	
	h1 {
		margin: 0;
		font-size: 1.8em;
	}
	
	form {
		margin: auto;
		width: 90%;
		height: 80%;
	}
	
	input {
		flex: 0 1 10%;
		font-size: 1.5em;
	}
	
	form div {
		flex: 0 1 40%;
		flex-flow: column;
		justify-content: space-around;
	}
	
	#submitbutton, #signup {
        flex: auto;
        margin: 10% 0 0;
        max-width: 95%;
    }
    
    #bounce {
        flex: auto;
    }

}