@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "San Fransisco Display Light";
  src: url("/sm807/coursework/SanFranciscoFont-master/SanFranciscoDisplay-Light.otf"); 
}

html {
	font-family: "San Fransisco Display Light";
}

body {
	margin: 0;
	width: 100vw;
}

h1, h2 {
	margin: 2%;
}

h1 {
	font-size: 3em;
	text-align: center;
}

.result {
	color: #000000;
	text-decoration: none;
}

#logout {
	text-align: center;
}

#pickgame {
	margin: 0;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
}

#pickgame #game {
	width: 60%;
	font-size: 1.8em;
	display: block;
	margin: auto;
	
	transition: .5s;
}

#gameresult {
	padding: 1%;
	overflow-y: scroll;
	max-height: 50vh;
	height: 50vh;
	width: 60%;
	margin: auto;
	
	transition: .5s;
}

#gameresult h2 {
	padding: 1%;
	color: #000000;
}

#gameresult a {
	text-decoration: none
}

#gameresult a:hover h2 {
	background-color: #EEEEEE;
	text-decoration: underline;
}

#gameresult::-webkit-scrollbar {
    width: 0.5em;
}
 
#gameresult::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#gameresult::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

section {
	width: 100%;
	display: flex;
	align-items: center;
}

article {
	flex: 1;
	margin: 1%;
}

#gameinfo {
	display: none;
	border-right: 1px solid black;
	flex-flow: row nowrap;
}

#updatestock {
	display: none;
}

input {
	padding: 1%;
	width: 30vw;
	border: none;
	outline: none;
	margin: 1% 0 0;
	font-size: 1.2em;
	text-align: center;
	background: #FFFFFF;
	font-family: "San Fransisco Display Light";
	border-bottom: 2px solid rgba(0, 128, 0, 1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 1020px) {
	section{flex-flow: column}
	h1 {font-size: 1.8em}
	
	#pickgame{
		margin: 5% 0 0;
		max-width: 100vw
	}
	
	#pickgame #game {width: 90%}
	#gameresult{width: 90%}
}