@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "San Fransisco Display Light";
  src: url("/sm807/coursework/SanFranciscoFont-master/SanFranciscoDisplay-Light.otf"); 
}

html * {
	font-family: "San Fransisco Display Light", sans-serif;
}

body {
	margin: 0;
	overflow-y: hidden;
}

h1 {
	font-size: 300%;
	text-align: center;
}

input, button {
	padding: 1%;
	
	border: none;
	outline: none;
	font-size: 120%;
	text-align: center;
	background: #FFFFFF;
	border-bottom: 2px solid rgba(0, 128, 0, 1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@-moz-document url-prefix() { /*Percentage padding for inputs and buttons doesn't work in moz*/
	input, button {
		padding: 14px 20px;
	}
}

@supports (-ms-ime-align:auto) { /*Same for edge*/
    input, button {
		padding: 14px 20px;
	}
}

.result {
	color: #000000;
	text-decoration: none;
}

#logout {
	text-align: center;
}

#pickgame {
    position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
}

#pickgame #game {
    z-index: 2;
	width: 60%;
	font-size: 180%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.4);
	
	transition: .5s;
}

#game:hover {
	border-bottom: 2px solid rgb(0, 128, 0);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#gameresult {
    position: relative;
	padding: 1%;
	overflow-y: scroll;
	max-height: 45vh;
	height: 45vh;
	width: 60%;
	margin: auto;
    border-bottom: 1px solid black;
	
	transition: .5s;
}

#gameresult h2 {
	padding: 1%;
	color: #000000;
}

#gameresult a {
	text-decoration: none
}

#gameresult a:hover h2 {
	background-color: #EEEEEE;
	text-decoration: underline;
}

#gameresult::-webkit-scrollbar {
    width: 0.5em;
}
 
#gameresult::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#gameresult::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#addgame {
	width: 60%;
	margin: 1% auto;
	font-size: 1.4em;
}

@-moz-document url-prefix() { /*Percentage padding for inputs and buttons doesn't work in moz*/
	#addgame {
        width: 60%;
        margin: 20px auto;
        font-size: 1.4em;
    }
}

@supports (-ms-ime-align:auto) { /*Same for edge*/
    #addgame {
        width: 60%;
        margin: 20px auto;
        font-size: 1.4em;
    }
}

#addgame a {
	color: #000000;
	text-decoration: none;
}

section {
	height: 35vh;
	margin: 2% 0 0;
	display: flex;
	align-items: center;
}

section article {
	height: 100%;
}

section article h2 {
	margin: 2%;
}

#gameinfo {
	flex: 1;
	padding: 0 0 0 1%;
	display: none;
	border-right: 1px solid black;
	flex-flow: row;
	justify-content: space-around;
}

#gameimage {
	flex: 2;
	width: 40%;
}

#info {
	margin: 0 0 0 2%;
	flex: 3;
	display: flex;
	flex-flow: column;
}

#updatestock {
	flex: 1;
	text-align: center;
	display: none;
	flex-flow: column;
	justify-content: center;
	align-content: center;
}

#update {
	width: 80%;
    display: block;
    margin: 0 auto;
}

#removegame {
	flex: 1;
	padding: 2%;
	display: none;
	border-left: 1px solid black;
}

#removeGameForm {
	flex: 1;
	display: flex;
	flex-flow: column;
}

#remove {
	flex: 1;
	cursor: pointer;
	font-weight: bold;
	border: 5px solid red;
}

@media (max-width: 1020px) {
	body {
		overflow-y: scroll;
	}
	
	section {
		height: auto;
		max-width: 100%;
		max-height: 80vh;
		flex-flow: column;
	}
	
	article {
		margin: 2% 0 0;
		border: none;
	}
	
	#game {
		min-width: 30vw;
		width: 80vw;
	}
	
	h1 {font-size: 1.8em}
	
	#pickgame{margin: 5% 0 0;}
	
	#pickgame #game {width: 90%}
	#gameresult{width: 90%}
	
	article {
		padding: 5%;
		width: 100%;
		box-sizing: border-box;
	}
	
	#gameinfo {
		border: none;
		border-bottom: 1px solid black;
	}
	
	#removegame {
		border: none;
		border-top: 1px solid black;
	}
	
	#remove {
	}
}