@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "San Fransisco Display Light";
  src: url("/sm807/coursework/SanFranciscoFont-master/SanFranciscoDisplay-Light.otf"); 
}

/*START - Redefine default styles*/

html * {
	font-family: "San Fransisco Display Light", sans-serif;
}

body {
	margin: 0;
}

h1 {
	font-size: 300%;
	text-align: center;
}

section {
    height: 0vh;
    margin: 0 0 0;
	display: flex;
    overflow-y: hidden;
	align-items: center;
    
    transition: .4s ease-in-out;
}

section article {
	height: 100%;
}

section article h2 {
	margin: 2%;
}

input, button, .button {
	padding: 1%;
	border: none;
	outline: none;
	font-size: 120%;
    border-radius: 0px;
	text-align: center;
	background: #FFFFFF;
	border-bottom: 2px solid rgba(0, 128, 0, 1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    -webkit-appearance: none;
}

@-moz-document url-prefix() { /*Percentage padding for inputs and buttons doesn't work in moz*/
	input, button, .button {
		padding: 14px 20px;
	}
}

@supports (-ms-ime-align:auto) { /*Same for edge*/
    input, button, .button {
		padding: 14px 20px;
	}
}

/*END - Redefine default styles*/

#bounce {
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.bouncing .bouncy1 {
    animation: bouncing 1s infinite 0s ease-in-out;
}

.bouncing .bouncy2 {
    animation: bouncing 1s infinite 0.1s ease-in-out;
}

.bouncing .bouncy3 {
    animation: bouncing 1s infinite 0.2s ease-in-out;
}

#logout {
	text-align: center;
}

/*START - Game search*/

#pickgame {
    width: 100%;
	display: flex;
	flex-flow: column;
    position: relative;
	align-items: center;
    
    transition: .4s ease-in-out;
}

#pickgame #game {
    z-index: 2;
	width: 60%;
	font-size: 180%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.4);
	
	transition: .4s ease-in-out;
}

#game:hover {
	border-bottom: 2px solid rgb(0, 128, 0);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#gameresult {
	width: 60%;
	padding: 1%;
	margin: auto;
    position: relative;
	overflow-y: scroll;
    border-bottom: 1px solid black;
	
	transition: .4s ease-in-out;
}

#gameresult h2 {
	padding: 1%;
	color: #000000;
}

#gameresult a {
	text-decoration: none
}

#gameresult::-webkit-scrollbar {
    width: 0.5em;
}
 
#gameresult::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#gameresult::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.gameresult {
	flex: 1;
	width: 100%;
	margin: 1% 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.gameresult:hover {
	cursor: pointer;
	background-color: #EEEEEE;
	text-decoration: underline;
}

.gameresult img {
	height: 15vh;
}

.gameresult h2 {
	flex: 1;
}

.button {
    color: #000000;
    text-decoration: none;
}

.result {
	color: #000000;
	text-decoration: none;
}

/*END - Game search*/

/*START - Add a new game button*/

#addgame {
	width: 60%;
	margin: 1% auto;
	font-size: 1.4em;
}

@-moz-document url-prefix() { /*Percentage padding for inputs and buttons doesn't work in moz*/
	#addgame {
        width: 60%;
        margin: 20px auto;
        font-size: 1.4em;
    }
}

@supports (-ms-ime-align:auto) { /*Same for edge*/
    #addgame {
        width: 60%;
        margin: 20px auto;
        font-size: 1.4em;
    }
}

#addgame a {
	color: #000000;
	text-decoration: none;
}

#sales div {
	font: 100% "San Fransisco Display Light", sans-serif;
	background-color: red;
	text-align: right;
	padding: 1%;
	margin: 1%;
	color: white;
}

/*END - Add a new game button*/

/*START - Game info*/

#gameinfo {
	flex: 1;
	display: none;
	flex-flow: row;
	padding: 0 0 0 1%;
	border-right: 1px solid black;
	justify-content: space-around;
}

#gameinfo h3 {
    margin: 1%;
}

#image {
	flex: 2;
	max-width: 40%;
}

#gameimage {
	width: 100%;
	display: none;
	object-fit: contain;
}

#info {
	flex: 3;
	display: flex;
	margin: 0 0 0 2%;
	flex-flow: column;
}

/*END - Game info*/

/*START - Update stock*/

#updatestock {
	flex: 1;
	display: none;
	flex-flow: column;
	text-align: center;
	align-content: center;
	justify-content: center;
}

#update {
	width: 80%;
    display: block;
    margin: 0 auto;
}

/*END - Update stock*/

/*START - Remove game*/

#removegame {
	flex: 1;
	padding: 0 2%;
	display: none;
	border-left: 1px solid black;
}

#removeGameForm {
	flex: 1;
	display: flex;
	flex-flow: column;
}

#remove {
	flex: 1;
	cursor: pointer;
	font-weight: bold;
	border: 5px solid red;
}

/*END - Remove game*/

@keyframes bouncing {
    0% {transform: translateY(0%)}
    15% {transform: translateY(-100%)}
    30% {transform: translateY(0%)}
    45% {transform: translateY(-70%)}
    55% {transform: translateY(0%)}
    60% {transform: translateY(-50%)}
    70% {transform: translateY(0%)}
}

@media (max-width: 1020px) {
	body {
		overflow-y: scroll;
	}
		
	h1 { font-size: 1.8em }
	
	article {
		padding: 5%;
		width: 100%;
		border: none;
		margin: 2% 0 0;
		box-sizing: border-box;
	}
	
	section {
		height: 120vh;
		max-width: 100%;
		flex-flow: column;
		max-height: 10000vh;
	}
	
	#pickgame {
		padding: 0;
		margin: 5% 0 0;
	}
	
	#pickgame #game {
		width: 90vw;
		min-width: 30vw;
	}
	
	#gameresult{
		padding: 0;
		width: 90%;
	}
	
	#gameinfo {
		border: none;
		border-bottom: 1px solid black;
	}
	
	#removegame {
		border: none;
		padding: 2% 0;
		border-top: 1px solid black;
	}
}